@media(min-width:992px){
    div {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        ._grid_container{
            display: grid;
            grid-template-columns:  23% 23% 23% 23%;
            grid-gap: 10px;
            // padding: 10px;
        }
    
        h1 {
            color: #ff3e00;
            font-size: 4em;
            font-weight: 500;
            margin: 0px;
        }
    }
}

@media(min-width:481px) and (max-width:991px){
    div {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
    
        ._grid_container{
            display: grid;
            grid-template-columns:  50% 50%;
            grid-gap: 10px;
            // padding: 10px;
        }
    
        h1 {
            color: #ff3e00;
            font-size: 4em;
            font-weight: 500;
            margin: 0px;
        }
    }
}


@media (min-width:280px) and (max-width: 480px) {
    div {
        text-align: center;
        padding: 1em;
        max-width: 100%;
        margin: 0 auto;
    
        ._grid_container{
            display: grid;
            grid-template-columns:  100%;
            grid-gap: 10px;
            // padding: 10px;
        }
    
        h1 {
            color: #ff3e00;
            font-size: 4em;
            font-weight: 500;
            margin: 0px;
        }
    }
}