._grid_item{
    box-shadow: 0px 2px 10px lightgrey;
    border-radius: 10px;
    ._header{
        background: #ff3c00;
        color: #fff;
        font-size: large;
        font-weight: 500;
        padding: 10px;
        box-shadow: 0px 2px 4px lightgrey;
    }
    ul._isi{
        list-style: none;
        padding: 0px;
        text-align: center;
        li{
            padding: 5px;
        }
        .styleSvelte{
            color: orangered;
            font-weight: 500;
        }
    }
}